@font-face {
  font-family: "Inter";
  src: url('../../vendor/fonts/Inter-VariableFont_slnt\,wght.woff2') format('woff2'),
  url('../../vendor/fonts/Inter-VariableFont_slnt\,wght.woff') format('woff'),
  url('../../vendor/font/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

.page {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background: #2A2C2F;
  padding-top: 34px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 670px){
  .page {
    padding-top: 20px;
  }
}
