.cover__container {
  width: 100%;
  height: calc(100% - 92px * 2);
  position: absolute;
  top: 92px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
