.cover__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover__background.png);
  background-size: cover;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.cover__container::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity .5s linear;
}

.cover__container:hover::after {
  opacity: 0.8;
}
