.lead__image {
  width: 984px;
  height: 615px;
  object-fit: cover;
}

@media screen and (max-width: 1080px){
  .lead__image {
    width: 100%;
    height: calc((100vw - 48px * 2) * 0.625);
  }
}

@media screen and (max-width: 984px){
  .lead__image {
    height: calc(100vw * 0.625);
  }
}
