.cover {
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  padding: 92px 0;
  display: flex;
}

@media screen and (max-width: 1184px){
  .cover {
    min-height: 62.5vw;
  }
}

@media screen and (max-width: 670px){
  .cover {
    padding: 64px 0;
  }
}
