.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 864px){
  .place__url-heading {
    line-height: 1;
  }
}
